{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Monthly ChallengeAll Challenges
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">

{% endblock %}


{% block content %}
{% include "challenges/includes/header.html" %}

 <h1>{{ month_name|title }} Challenge</h1>
    {% if text is not None %}
        <h3>{{ text }}</h3>
    {% else %}
        <p>There is not challenge for this month</p>
    {% endif %}


{% endblock content %}
    
   
